<!DOCTYPE html>
<html lang="en">
<head>
  <title>Help For All - About Us</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<style>
.jumbotron{
  color: #ffffff;
}

.jumbotron-image {
  background-repeat: no-repeat;
  background-size: cover;
}
.container-fluid {
  padding: 60px 50px;
}
.float-right{
  float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
  border-left:1px solid #bbb;
}

/*li:last-child {
  border-right: none;
}*/

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

</style>
<ul>
  <li><a href="/">Home</a></li>
  <li style="float:right"><a href="/contact">Contact</a></li>
  <li style="float:right"><a href="/about">About</a></li>
</ul>
<body>

  <div class="jumbotron text-center jumbotron-image" style="background-image: url(static/images/Helping-Hand.jpg);">
    <h1><b>Help for Everyone</b></h1>
    <p style="font-family: Brush Script MT ; font-size:38px"><i>Be the change</i></p>
  </div>


  <div class="container-fluid">
    <div class = "float-right">
      <img src="static/images/1840032.jpg" align = "right" style="margin-left:50px" />
      </div>
    <h2 style="font-weight:bold; font-size:40px">About Us</h2>
    
      
      <p style = "text-align: justify; font-size:20px">
      There is an ocean of information on the internet that can be put to use for the welfare of people. Especially when it comes to any global crisis, the Internet and social media stand out as a powerful tool which if utilized properly, works wonders. There’s a pool of resources and donations which do not always make way to the people who actually need them.
      </p>
      <p style = "text-align: justify; font-size:20px"> 
       Help for All aims to match the donors to the appropriate requesters and vice versa, keeping the resource factor in mind so that people are able to access the donations they actually need and the donor resources are properly mapped. Help For all utilizes the power of online communities in facilitating the overall donation process and provides a solution to make the process more efficient by mapping requesters to donors and vice versa. We gather information from Twitter about tweets made on offers and requests pertaining to tangible donations of essential goods and make the information specific to user requirements readily available to the user. You just need to let us know whether you want to donate or request and mention the resource you want to make a donation or request for and we help you find your donor/offer match.
    </p>
  
</div>

<div class="container-fluid">
  <div class = "float-right">
      <img src="static/images/img2.jpg" align = "right" style="margin-left:50px" />
      </div>
    <h2 style="font-weight:bold; font-size:40px">What We Offer</h2>
    <h3><strong>For Donors</strong></h3> 
      
      <p style = "text-align: justify; font-size:20px">
      Maximization of your donation impact by matching to the right. Go to our homepage, and let us know your offer in the search bar, for eg., type in “I want to donate clothes ” and we would return the tweets pertaining to the request of clothes, with the tweet location, date & time and the tweet link for you to access.
      </p>
      
      <h3><strong>For Donation Seekers</strong></h3>
      <p style = "text-align: justify; font-size:20px"> 
       Find the right place that would help you in your crisis, request for what you need at the right place. Go to our homepage, and let us know what you want to request for, for eg., type in “I want to request groceries ” and we would return the tweets pertaining to the donations of groceries, with the tweet location, date & time for you to choose the appropriate tweet and also the tweet link for you to access.

    </p>
  
</div>

<div class="container-fluid">
  <div class = "float-right">
      <img src="static/images/img2.jpg" align = "right" style="margin-left:50px" />
      </div>
    <h2 style="font-weight:bold; font-size:40px">How it works</h2>
    <h3><strong>For Donors</strong></h3> 
      
      <p style = "text-align: justify; font-size:20px">
      Maximization of your donation impact by matching to the right. Go to our homepage, and let us know your offer in the search bar, for eg., type in “I want to donate clothes ” and we would return the tweets pertaining to the request of clothes, with the tweet location, date & time and the tweet link for you to access.
      </p>
      
      <h3><strong>For Donation Seekers</strong></h3>
      <p style = "text-align: justify; font-size:20px"> 
       Find the right place that would help you in your crisis, request for what you need at the right place. Go to our homepage, and let us know what you want to request for, for eg., type in “I want to request groceries ” and we would return the tweets pertaining to the donations of groceries, with the tweet location, date & time for you to choose the appropriate tweet and also the tweet link for you to access.

    </p>
  
</div>
</body>
</body>
</html>