<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Contact Us</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">


        <link rel="stylesheet" href="../static/assets/css/iconfont.css">
        <link rel="stylesheet" href="../static/assets/css/slick/slick.css">
        <link rel="stylesheet" href="../static/assets/css/slick/slick-theme.css">
        <link rel="stylesheet" href="../static/assets/css/stylesheet.css">
        <link rel="stylesheet" href="../static/assets/css/font-awesome.min.css">

        <link rel="stylesheet" href="../static/assets/css/jquery.fancybox.css">
        <link rel="stylesheet" href="../static/assets/css/bootstrap.css">
        <link rel="stylesheet" href="../static/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="../static/assets/css/bootstrap-theme.min.css">


        <!--For Plugins external css-->
        <link rel="stylesheet" href="../static/assets/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="../static/assets/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="../static/assets/css/responsive.css" />

        <script src="../static/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body data-spy="scroll" data-target=".navbar-collapse">
         <div class="navigation_bar">
            <ul>
              <li><a href="/">Home</a></li>
              <li style="float:right"><a href="/contact">Contact</a></li>
              <li style="float:right"><a href="/about">About</a></li>
            </ul>
        </div>
        <div class='preloader'><div class='loaded'>&nbsp;</div></div>
        <div class="culmn">
            

            <!-- Team Section -->
            <section id="team" class="team">
                <div class="main_team_area">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="head_title textwhite text-center margin-top-80">
                                    <h2>OUR TEAM</h2>
                                    <div class="subtitle">
                                        Share your thoughts with us.
                                    </div>
                                    <div class="separator"></div>
                                </div><!-- End off Head_title -->

                                <div class="main_team">
                                    <ul>
                                        <li>
                                            <div class="single_team_img">
                                                <img src="../static/assets/images/team1.jpg" alt="" />
                                            </div>
                                            <div class="single_team_text">
                                                <h4>Shanuj Shekhar</h4>
                                                <p>CS Grad Student</p>
                                                	<a href="https://www.linkedin.com/in/shanujshekhar/" target="_blank">LinkedIn</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="single_team_img">
                                                <img src="../static/assets/images/team2.jpg" alt="" />
                                            </div>
                                            <div class="single_team_text">
                                                <h4>Trisha Kanji</h4>
                                                <p>CS Grad Student trisha.kanji@stonybrook.edu</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="single_team_img">
                                                <img src="../static/assets/images/team3.jpg" alt="" />
                                            </div>
                                            <div class="single_team_text">
                                                <h4>Nitin Asthana</h4>
                                                <p>CE Grad Student nitin.asthana@stonybrook.edu</p>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="single_team_img">
                                                <img src="../static/assets/images/team4.jpg" alt="" />
                                            </div>
                                            <div class="single_team_text">
                                                <h4>Kartik Aneja</h4>
                                                <p>CE Grad Student kartik.aneja@stonybrook.edu </p>
                                            </div>
                                        </li>
                                        <li>
                                            <!-- <div class="single_team_img">
                                                <img src="../static/assets/images/test2.jpg" alt="" />
                                            </div>
                                            <div class="single_team_text">
                                                <h4>Chet Pok</h4>
                                                <p>Web Developer</p>
                                            </div> -->
                                        </li>
                                    </ul>
                                </div>

                            </div><!-- End of main team contant --> 
                        </div>
                    </div><!-- End of container -->
                </div>
            </section><!-- End off Team Section -->

            










        </div>

        <!-- START SCROLL TO TOP  -->

        <div class="scrollup">
            <a href="#"><i class="fa fa-chevron-up"></i></a>
        </div>

        <script src="../static/assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="../static/assets/js/vendor/bootstrap.min.js"></script>

        <script src="../static/assets/js/jquery.magnific-popup.js"></script>
        <script src="../static/assets/js/jquery.mixitup.min.js"></script>
        <script src="../static/assets/js/jquery.easing.1.3.js"></script>
        <script src="../static/assets/js/jquery.masonry.min.js"></script>

        <!-- slick slide js  -->
        <script src="../static/assets/css/slick/slick.js"></script>
        <script src="../static/assets/css/slick/slick.min.js"></script>


        <script src="../static/assets/js/plugins.js"></script>
        <script src="../static/assets/js/main.js"></script>

    </body>
</html>
